@use "sass:map";
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap';


// Ljust tema 
$light-theme: (
    font:#000000,
    background:#FFFFFF,
    accent:#2F5E3A
);

// Mörkt tema
$dark-theme: (
    font:#FFFFFF,
    background:#303030,
    accent:#D7552B
);

// Färg borders
$border-color: #B4B4B4;

// Tema funktion
@function theme($theme, $key){
    @return map-get($theme, $key);
}

// Globala
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;

    background-color: theme($light-theme, background);
    color: theme($light-theme,font );
}

// dark theme
body.dark {
    background-color: theme($dark-theme, background);
    color: theme($dark-theme, font);
}

// mobile menu 
.mobile-nav{
    @extend body;
}

body.dark .mobile-nav{
    background-color: theme($dark-theme, background);
    color: theme($dark-theme, font);
}

// icons
i{
    color: theme($light-theme,accent );
    font-size: 2rem;
}

// dark theme
body.dark i {
    color: theme($dark-theme,accent );
}
// anchor tags 
nav a {
    color: theme($light-theme, font);
    font-weight: 600;
}
nav a.active {
    color: theme($light-theme, accent);
}
nav a:hover {
    opacity: 0.7;
}

// dark theme 
body.dark nav a{
    color: theme($dark-theme, font);
}
body.dark nav a.active{
    color: theme($dark-theme, accent);
}

//Logotype
.logo-white {
    display: none;
}

body.dark .logo-white {
    display: inline;
}
body.dark .logo-green {
    display: none;
}

// Buttons 
.btn {
    background-color: theme($light-theme, accent);
    color: #FFFFFF;
}

// dark theme 
body.dark .btn {
    background-color: theme($dark-theme, accent);
    color: #FFFFFF;
}

// Borders

header {
    border-bottom: 1px solid $border-color;
}
footer {
    border-top: 1px solid $border-color;
}