@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap';

// Ljust tema 
$light-theme: (
    font:#000000,
    background:#FFFFFF,
    accent:#2F5E3A,
    border:#B4B4B4
);

// Mörkt tema
$dark-theme: (
    font:#FFFFFF,
    background:#303030,
    accent:#D7552B,
    border:#B4B4B4
);

// Tema funktion
@function theme($theme, $key){
    @return map-get($theme, $key);
}

// Globala
body {
    font-family: "Poppins", sans-serif;
    
    background-color: theme($light-theme,background );
    color: theme($light-theme,font );
}

body.dark {
    background-color: theme($dark-theme,background );
    color: theme($dark-theme,font );
}