@use "sass:map";
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap';



$light-theme: (
    font:#000000,
    background:#FFFFFF,
    accent:#2F5E3A
);
// Ljust tema 
$font-color: #000000;
$bg-color: #FFFFFF;
$accent-color: #2F5E3A;

// Mörkt tema
$font-dark-color: #FFFFFF;
$bg-dark-color: #303030;
$accent-dark-color: #D7552B;


$dark-theme: (
    font:#FFFFFF,
    background:#303030,
    accent:#D7552B
);

// Färg borders
$border-color: #B4B4B4;

// Tema funktion
@function theme($theme, $key){
    @return map-get($theme, $key);
}

// Globala
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;

    background-color: $bg-color;
    color: $font-color;
}

// mobile menu 
.mobile-nav{
    @extend body;
}

// icons
i{
    color: $accent-color;
    font-size: 2rem;
    cursor: pointer;
}

// anchor tags 
nav a {
    color: $font-color;
    font-weight: 600;
}
nav a.active {
    color: $accent-color;
}
nav a:hover {
    opacity: 0.7;
}

//Logotype
.logo-white {
    display: none;
}

body.dark .logo-white {
    display: inline;
}
body.dark .logo-green {
    display: none;
}

// Buttons 
.btn {
    background-color: $accent-color;
    color: #FFFFFF;
}

// Borders

header {
    border-bottom: 1px solid $border-color;
}
footer {
    border-top: 1px solid $border-color;
}


@media (prefers-color-scheme: dark){
    body{
        background: $bg-dark-color;
        color: $font-dark-color;
    }
    .mobile-nav{
        background: $bg-dark-color;
        color: $font-dark-color;
    }
    nav a{
    color: $font-dark-color;
    }   
    nav a.active{
    color: $accent-dark-color;
    }   
    .btn {
    background-color: $accent-dark-color;}

}