// Knappar
.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.7;
}