// Container / wrappers
.container {
    max-width: 1200px;
    margin: 0 auto;
}

// Settings för Header 
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}