// Container / wrappers
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100dvh - 100px);
    background: url("/images/backgrounds/bg-desktop.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// Settings för Header 
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 0 0.5rem;
}

header nav {
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 1rem;
    }
    li{
        display: inline-block;
    }
    a{
        display: block;
        text-decoration: none;
        padding: 1rem 0.5rem;
    }
}

// Settings footer 
footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
}